* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
nav {
  background-color: #868697;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 24px;
  border-radius: 40px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
.btn:hover {
  color: #000;
}
.green-btn {
  color: #39ff14;
  border: 2px solid #39ff14;
}
.green-btn:hover {
  background-color: #39ff14;
  box-shadow: 0 0 30px #39ff14, 0 0 20px #39ff14;
  transition: all 0.5s ease;
}
.yellow-btn {
  color: #e6fb04;
  border: 2px solid #e6fb04;
}
.yellow-btn:hover {
  background-color: #e6fb04;
  box-shadow: 0 0 30px #e6fb04, 0 0 20px #e6fb04;
  transition: all 0.5s ease;
}
.red-btn {
  color: #ff3300;
  border: 2px solid #ff3300;
}
.red-btn:hover {
  background-color: #ff3300;
  box-shadow: 0 0 30px #ff3300, 0 0 20px #ff3300;
  transition: all 0.5s ease;
}
.blue-btn {
  color: #099fff;
  border: 2px solid #099fff;
}
.blue-btn:hover {
  background-color: #099fff;
  box-shadow: 0 0 30px #099fff, 0 0 20px #099fff;
  transition: all 0.5s ease;
}
